<footer class="footer">
  <small>
    Ralphs List created by Carissa Chen, Tyler VanNurden, and Ramisa Faruque.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Signup", '/signup' %></li>
      <li><%= link_to "Post Listing", '/postlisting' %></li>
    </ul>
  </nav>
</footer>